$border: 1px solid
  rgba(
    $color: #D1DCE5,
    $alpha: 1
  );
  
$border2: 1px solid #E3EFF9;
$size1: 6px;
$size2: 12px;
$size2-2: 14px;
$size3: 18px;
$size4: 24px;
$size4-2: 32px;
$size5: 36px;
$size6: 48px;
$size7:60px;
$whiteColor: #fff;
$backgroundColor: #F5F5F5;
$textColor: #000000;
$primaryColor: #2D87E2;
$primaryColor-2: #73AEEA;
$primaryColor-3: #4796E6;
$primaryColor-4: #B5D9FD;
$primaryColor-5: #47E69A;
$secondTextColor: #D1DCE5;
$thirdTextColor: #233B4C;
$fourthTextColor: #636363;
